{% extends "servicearea/base.html" %}
{% load staticfiles %}

{% block content %}


<div class="row" style="margin: 3rem;">

    <div class="col-4 text-center">
        <form id="service_area_form" action="/service-areas/area">

            {% csrf_token %}


            <div class="action_buttons">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" type="text"/>
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input class="form-control" id="price" type="number"/>
                </div>

                <div class="form-group">

                    <label for="provider-input">Select Provider</label>
                    <select class="form-control" id="provider-input">
                        <option></option>
                        {% for provider in providers %}
                            <option value="{{ provider.id }}">{{ provider.first_name }} <{{ provider.email }}></option>
                        {% endfor %}
                    </select>

                </div>


                <button id="add-service-area" class="btn btn-primary">Add Service Area</button>
            </div>

        </form>
    </div>

    <div class="col-8">

        <div id="map-container" style="height: 30rem; width: 30rem;">

        </div>

    </div>
    <p class="small">

    </p>
    <ol id="service_area_point_list"></ol>


</div>

{% endblock %}
      {% block js %}
 <!-- Add Google maps lib -->
 <script type="text/javascript"
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAACDzk-f8-UG7wzWbL_uyxbuxx1BygURA&sensor=false">
 </script>
 <script type="text/javascript">

        let map;
        let markerCount = 0;
        let markerPoints = [];
        var serviceArea;

        map = new google.maps.Map(document.getElementById('map-container'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 10
        });

        map.addListener('click', function (e) {
            console.log(e.latLng);
            addMarker(e.latLng);
        });


        function addMarker(latLng) {
            markerPoints.push(latLng);
            var marker = new google.maps.Marker({
              position: latLng,
              map: map,
              title: 'Click to zoom'
            });

            markerCount += 1;

            if(markerCount >= 2) {
                serviceArea = new google.maps.Polygon({
                    paths: markerPoints,
                    strokeColor: '#000',
                    strokeWeight: 1,
                    fillColor: '#333',
                });
                serviceArea.setMap(map);
            }
        }

        $('#add-service-area').click(function (e) {
           e.preventDefault();
           console.log(markerPoints);
            // Submit form

            $('input[type="text"]').each(function(){
               if($(this).val()===""){
                  alert("All values are required");
                }
             });
            var providerInput = $('#provider-input');
            if(providerInput.val() === "") {
                alert("All values are required");
            }
            if(markerPoints.length <= 2) {
                alert("A polygon area is also required");
            }
            let serviceAreaString = "";
            for(let i=0; i<markerPoints.length; i++ ) {
                console.log(markerPoints[i]);
                serviceAreaString += markerPoints[i].lng().toString() + " " + markerPoints[i].lat().toString() + ","
            }
            serviceAreaString = serviceAreaString.slice(0,-1)
            console.log(serviceAreaString);
            $.post( "/service-areas/area/", JSON.stringify( {
                name: $("#name").val(),
                price: $("#price").val(),
                provider: providerInput.val(),
                "csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val(),
                serviceAreaString: serviceAreaString,
            }))
              .done(function( data ) {
                    alert( "Data Loaded: " + data );
              });

        });


 </script>

{% endblock js %}
